<!DOCTYPE html>
<html lang="en">
  <!-- apply ejs partial - head.ejs -->
  <%- include('./partials/head.ejs')%>

  <body>
    <!-- apply ejs partial - nav.ejs -->
    <%-include('./partials/nav.ejs')%>

    <!-- content in main container -->
    <div class="container">
      <h1>Oops.....page Not found yo.</h1>
    </div>
    <!-- apply ejs partial - footer.ejs -->
    <%-include('./partials/footer.ejs')%>
  </body>
</html>
