<!DOCTYPE html>
<html lang="en">
      <!-- apply ejs partial - head.ejs -->
      <%- include('./partials/head.ejs')%>
  <body>


      <!-- apply ejs partial - nav.ejs -->
      <%-include('./partials/nav.ejs')%>


      <!-- content in main container -->
      <div class="container">
    <h1>About page</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, veniam
      incidunt dolorum aut cupiditate quis! Nisi asperiores sequi velit nihil
      culpa voluptatum, cum praesentium dolores sed doloribus voluptate beatae
      exercitationem blanditiis delectus nemo in veniam consequuntur adipisci
      architecto ratione debitis suscipit illum, esse natus. Ullam sequi ut
      nostrum ex fugiat?
    </p>
      </div>

          <!-- apply ejs partial - footer.ejs -->
          <%-include('./partials/footer.ejs')%>
  </body>
</html>
