<html lang="en">
  <!-- apply ejs partial - head.ejs -->
  <%- include('./partials/head.ejs')%>
  <body>
    <!-- apply ejs partial - nav.ejs -->
    <%-include('./partials/nav.ejs')%>

    <!-- content in main container -->
    <div class="container">
      <div class="create-blog content">
        <form action="/blogs" method='POST'>
          <label for="title">Blog title:</label>
          <!-- in order to add data to the corresponding field of the data object, need to add the field names in the input.name  -->
          <input type="text" name="title" id="title" required />
          <label for="snippet">Blog snippet:</label>
          <input type="text" name="snippet" id="snippet" required />
          <label for="body">Blog body:</label>
          <textarea id="body" name="body" required></textarea>
          <button>Submit</button>
        </form>
      </div>
    </div>

    <!-- apply ejs partial - footer.ejs -->
    <%-include('./partials/footer.ejs')%>
  </body>
</html>
