@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
    body {
      margin: 20px auto;
      padding: 0 20px;
      background-color: #222222;
      color: white;
      font-family: "Open Sans", serif;
    }

    .footer{
        color:#777;
    }

    a {
      text-decoration: none;
    }

    a:visited {
      color: inherit;
    }

    ul {
        padding: 0;
        list-style: none;
        align-items: flex-end;
    }

    .navbar{
        display: flex;
        gap: 2rem;
        border-bottom: 3px solid lightsalmon;
    }

    .navbar ul li:hover{
        color: lightsalmon;
    }

    .container{
        background-color: #ffffff;
        color: #222222;
    }

    .create-blog form{
      display: grid;
      grid-template-rows: 1fr;
      color: orangered;
      max-width: 500px;
      row-gap: 1rem;
      margin: auto;
    }

    .create-blog form input{
      height: 20px;
    }


    .create-blog form button{
      background-color: orangered;
      color: white;
      font-size: 1rem;
      width: 100px;
      margin: auto;
      border: none;
    }