<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EJS View Page | <%=title%></title>
  <!-- below style.css link is automatically pointing to the public folder 
  because in the ejs.js file, there's a line app.use(express.static('public')) to make the public folder static
  so we don't need to specific the relative path href="../../public/style.css"
-->
  <link rel="stylesheet" href="/style.css">
</head>
